.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.cursor-pointer {
    cursor: pointer;
}