.ep-radio {
    .ep-radio__label {
        color: var(--default-radio-color);
    }
    &__input {
        .ep-radio__inner {
            border-color: var(--default-radio-color);
        }
        &.is-checked {
            .ep-radio__inner {
                background: transparent;
                border-color: var(--primary-color);
                border-width: 1px;
            
                &::after {
                    background-color: var(--primary-color);
                    width: 9px;
                    height: 9px;
                }
            }
        }
    }
    &.is-checked {
        .ep-radio__label {
            color: var(--primary-color);
        }
    }
}

.ep-radio__input.is-disabled.is-checked .ep-radio__inner {
    border-color: var(--radio-disabled-color);
    background: transparent;
    &::after {
        background-color: var(--radio-disabled-color);
    }
}

.ep-radio__input.is-disabled+span.ep-radio__label{
    color: var(--radio-disabled-color);
}
.ep-radio__input.is-disabled .ep-radio__inner, .ep-radio__input.is-disabled .ep-radio__inner:after{
    background: transparent;
}