.yo-select {
    width: 100%;
}

.yo-select-dropdown {
    .ep-select-dropdown__item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &.is-hovering {
            color: var(--primary-color);
        }

        &.is-selected {
            color: var(--primary-color);
        }
    }
}
