.yo-unit-input {
  display: inline-flex;
  width: 100%;
  vertical-align: middle;

  :deep(.ep-input-group__append) {
    background-color: transparent;
    padding: 0;
    box-shadow: none;
    border-left: none;

    .ep-select {
      margin: -1px -1px -1px 0;

      .ep-select__wrapper {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: var(--ep-fill-color-light);
        box-shadow: 0 0 0 1px var(--ep-border-color) inset;

        &:hover {
          box-shadow: 0 0 0 1px var(--ep-border-color-hover) inset;
          z-index: 1;
        }

        &.is-focused {
          box-shadow: 0 0 0 1px var(--ep-color-primary) inset;
          z-index: 2;
        }
      }
    }
  }

  &.is-disabled {
    :deep(.ep-input-group__append) {
      .ep-select__wrapper {
        background-color: var(--ep-disabled-bg-color);
      }
    }
  }
}