.yo-table-wrap {
    width: 100%;

    .yo-table-pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 22px;

        .el-pager {
            gap: 8px;

            li {
                &.number {
                    border: 1px solid #E7E9F0;
                    border-radius: 4px;
                    color: #676868;
                    background: transparent;
                    min-width: 32px;
                    height: 32px;
                    line-height: 32px;
                }

                &.is-active {
                    background-color: var(--primary-color);
                    border-color: var(--primary-color);
                    color: #fff;
                    border-radius: 4px;
                }
            }
        }

        // 上一页 / 下一页按钮
        .btn-prev,
        .btn-next {
            border: 1px solid #E7E9F0;
            border-radius: 4px;
            min-width: 32px;
            height: 32px;
            line-height: 32px;
            color: #676868;
            background: transparent;

            &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }
        }

        .btn-prev {
            margin-right: 8px;
        }

        .btn-next {
            margin-left: 8px;
        }
    }

    .el-table thead th.el-table__cell {
        background-color: var(--table-header-bg);
        height: 54px;
        color: var(--table-header-text-color);
        font-size: var(--font-size-base);
    }

    // 斑马线颜色（stripe 为 true 时生效）
    .el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
        background-color: var(--table-stripe-bg);
    }

    .el-table__body td.el-table__cell {
        height: 46px;
    }

    // 行 hover 颜色
    .el-table__body tr:hover td.el-table__cell {
        background-color: var(--table-header-bg);
    }
}