.yo-detail-col {
    width: 100%;
}

.yo-detail-col__row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    gap: 0 40px;

    &:last-child {
        margin-bottom: 0;
    }
}

.yo-detail-col__item {
    display: flex;
    align-items: flex-end;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 18px;

    &.is-underline {
        .yo-detail-col__value {
            border-bottom: 1px solid var(--detail-underline-color, #ccc);
            padding-bottom: 10px;
        }
    }
}

.yo-detail-col__label {
    display: inline-block;
    flex-shrink: 0;
    margin-right: 12px;
    color: var(--detail-label-color);
    font-size: var(--font-size-base);
    word-break: break-all;

    &.is-align-start {
        text-align: left;
    }

    &.is-align-center {
        text-align: center;
    }

    &.is-align-end {
        text-align: right;
    }
}

.yo-detail-col__value {
    flex: 1;
    min-width: 0;
    word-break: break-all;

    &.is-align-start {
        text-align: left;
    }

    &.is-align-center {
        text-align: center;
    }

    &.is-align-end {
        text-align: right;
    }

    .ep-input {
        &.is-disabled {
            .ep-input__wrapper {
                padding-left: 18px;
                background: var(--detail-disabel-input-color);
                color: var(--detail-disabel-input-text-color);
            }

            .ep-input__inner {
                background: var(--detail-disabel-input-color);
            }
        }
    }
}
